<div class="formGroup">
  <nav>
    <a routerLink="/home">Go Home </a>
  </nav>
  <form [formGroup]="createdForm" (ngSubmit)="logPerson()">
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput type="text" formControlName="username"/>
    </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="pass"  />
      </mat-form-field>
  </form>
      <button class="btn btn-primary" type="button" (click)="logPerson()">Sing In</button>
</div>
