<div class="container">
  <button mat-raised-button class="btn-ver-platos" routerLink="/home"><p>Ver listado de Platos!</p></button>
  <div class="items-tabla">
    <mat-card-content class="card-item-menu" *ngFor="let menuItem of listMenu">
      <div class="div-ul-item">
        <ul class="ul-item">
          <div class="div-item-list">
            <li class="li-item">
              <h3>Nombre:</h3>
              <h2>{{menuItem.title}}</h2>
            </li>
          </div>
          <div class="div-item-list">
            <li class="li-item">
              <h4>Restaurante:</h4>
              <h3>{{menuItem.restaurantChain}}</h3>
            </li>
          </div>
          <div class="div-img-item">
            <img class="img-item" src="{{menuItem.image}}">
          </div>
        </ul>
      </div>
    </mat-card-content>
  </div>
</div>
