.container {
  width: 100%;
  min-height: 100vh;
  margin-inline: auto;
  background: linear-gradient(90deg, rgba(130, 112, 255, 0.67) 0%, rgba(71, 165, 196, 0.87) 56%, rgba(0, 212, 255, 1) 100%);
}

.items-tabla {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  margin: 20px auto;
  justify-content: center;
  max-width: 1500px;
  justify-items: center;
}

.card-menu-list{
  display: flex;
  margin: 16px 0;
  margin-inline: auto;
  width: auto;
  text-align: center;
  flex-direction: column;
  height: 80px;
}

.div-img-item {
  width: 40%;
}

.img-item {
  width: 90%;
}

.div-ul-item {
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row-reverse;

}

.card-item-menu {
  width: 80%;
  background-color: white;
  border-radius: initial;
  border-radius: 15px;
  padding: 10px;
}

.btn-ver-platos {
  text-align: center;
  height: auto;
  width: auto;
  margin-right: 73px;
}

.btn-logOut {
  height: auto;
  width: 10%;
}

.ul-item {
  display: flex;
  text-align: center;
  margin-inline: auto;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
}

.checkbox-item {
  display: flex;
  text-align: center;
  margin-top: 3px;
}

.option-item {
  display: flex;
  justify-content: end;
  align-self: flex-start;
}

.item-list {
  display: flex;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
}

.loading {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 32px 0;
  min-height: calc(100vh - 208px);
}
