<div class="container">
  <nav class="nav">
    <button mat-raised-button class="btn-ver-platos" routerLink="/mis-platos"><p>Ver mis Platos </p>
    </button>
    <button class="btn-logOut" mat-raised-button (click)="logOut()"> log Out
      <mat-icon>
        account_box
      </mat-icon>
    </button>
  </nav>
  <div class="card-menu-list">
    <mat-card class="card-menu-list">
      <p> Lista de Menu</p>
    </mat-card>
    <div *ngIf="!menu.length" class="loading ">
      <mat-spinner></mat-spinner>
    </div>
  </div>
  <div class="items-tabla">
    <mat-card-content class="card-item-menu" *ngFor="let menuItem of menu">
      <div class="div-ul-item">
        <div class="option-item">
          <mat-checkbox class="example-margin checkbox-item"
                        (change)="addPlato($event.checked, menuItem)"></mat-checkbox>
        </div>
        <ul class="ul-item">
          <div class="div-item-list">
            <li class="li-item">
              <h3>Nombre:</h3>
              <h2>{{menuItem.title}}</h2>
            </li>
          </div>
          <div class="div-item-list">
            <li class="li-item">
              <h4>Restaurante:</h4>
              <h3>{{menuItem.restaurantChain}}</h3>
            </li>
          </div>
          <div class="div-img-item">
            <img class="img-item" src="{{menuItem.image}}">
          </div>
        </ul>
      </div>
    </mat-card-content>
  </div>
</div>
