<div class="container">
  <nav class="nav">
    <mat-card class="card-menu-list">
      <p> Lista de Menu</p>
    </mat-card>
    <button mat-raised-button class="btn-ver-platos" routerLink="/mis-platos"><p>Ver mis Platos </p>
    </button>
    <button class="btn-logOut" mat-raised-button (click)="logOut()"> log Out
      <mat-icon>
        account_box
      </mat-icon>
    </button>
  </nav>
  <div class="row text-center items-tabla ">
    <mat-card-content class="card-item-menu" *ngFor="let menuItem of menu">
      <mat-card class="card-item-menu">
        <ul>
          <li>
            <h3>Nombre:</h3>
          </li>
          <h2>{{menuItem.title}}</h2>
          <li>
            <h4>Restaurante:</h4>
          </li>
          <h3>{{menuItem.restaurantChain}}</h3>
          <li>
            <img class="img-item" src="{{menuItem.image}}">
          </li>
        </ul>
        <div class="option-item">
          <mat-checkbox class="example-margin checkbox-item"
                        (change)="addPlato($event.checked, menuItem)"></mat-checkbox>
          <button mat-button type="button" class="btn-danger" (click)="deleteMenu(menuItem)">
            <mat-icon color="error">
              delete_outline
            </mat-icon>
          </button>
        </div>
      </mat-card>
    </mat-card-content>
  </div>
</div>
