.container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;

}
.btn-logOut{
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center
}
.botLogin{
  margin-top: 5%;
  height: 15%;
  width: 15%;
}
nav{
  display: flex;

}
