<div class="container">
  <nav class="nav">
    <mat-card class="card-menu-list">
        <p> Lista de Menu</p>
    </mat-card>
    <button mat-raised-button class="btn-ver-platos" routerLink="/menu"> <p>Ver mis Platos </p>
    </button>
      <button class="btn-logOut" mat-raised-button (click)="logOut()"> logOut</button>
  </nav>
  <div class="row text-center items-tabla ">
    <div class=" person-ul-div">
      <mat-card-content *ngFor="let menuItem of menu">
        <ul class="item-list mt-2">
          <mat-card>
            <span>{{menuItem.title}}</span>
            <div class="option-item">
              <mat-checkbox class="example-margin checkbox-item" (change)="addPlato($event.checked, menuItem)"></mat-checkbox>
              <button mat-button type="button" class="btn-danger" (click)="deleteMenu(menuItem)">
                <mat-icon color="error">
                  delete_outline
                </mat-icon>
              </button>
            </div>
          </mat-card>
        </ul>
      </mat-card-content>
    </div>
  </div>
</div>
